.full-page {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
}

.left-nav {
  height: 100%;
  width: 200px;
  border: 1px solid black;
}

.right-panel {
  height: 100%;
  border: 1px solid black;
  width: 100%;
}
